/* 
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
*/

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.centered-2 {
  display: flex; 
  justify-content: center; 
  align-items: center; 
  overflow: auto; 
  min-height: 100vh;
}

.textaligned {
  text-align: center;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
} 

@media (max-width: 575.99px) {
  .centered-2-inline {
    width: 80%;
  }
}

@media (min-width: 576px) {
  .centered-2-inline {
    width: 65%;
  }
}

.centered-textalign {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.m15 {
  margin-left: 15px;
  margin-right: 15px;
}/**
 * Fixes the outline bug in the clock picker, and adds transition easing
 */

 .clockpicker-span-hours:focus {
     outline: none;
 }

 .clockpicker-span-minutes:focus {
     outline: none;
 }

 .am {
     outline: none;
 }

 .pm {
     outline: none;
 }

 .input-prefix {
     outline: none;
 }

 body {
     font-family: -apple-system,BlinkMacSystemFont,"Roboto","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
 }

 .inval-feedback {
     width: 100%;
     font-size: 80%;
     color: #dc3545;
 }

#locations-form-error {
    display: none !important;
}

ul.stepper .step.wrong:before {
    font-size: 0.9rem;
}

ul.stepper .step.done:before {
    font-size: 0.9rem;
}

ul.stepper .step-title {
    top: -3px;
}

.md-form {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

#s2-datepick-error {
    display: none;
}

.modal-body{
    color: #000
}

.redtext {
    color: #f44336
}

.orangetext {
    color: #ff9800
}

.greentext {
    color: #4caf50
}

body {
    transition: background-color 250ms linear;
}

