/*
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
*/

html {
    --dark: #282c2f !important;
    --hrdark: #a2a2a2 !important
}

body {
    background-color: var(--dark);
}

.centered-textalign {
    color: var(--light)
}

.text-center {
    color: var(--light)
}

.modal-content {
    background-color: var(--dark)
}

.modal-body {
    color: var(--light) !important
}

.centered-2-inline {
    color: var(--light)
}

input {
    color: var(--light) !important
}

.step-title {
    color: var(--light) !important;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--light) !important;
}

label {
    color: var(--light);
}

.form-check-label {
    color: var(--light) !important;
}

.md-form label {
    color: #9d9d9d;
}

.form-control::placeholder {
    color: #b3b3b3;
}

ul.stepper .step.active::before {
    color: var(--light) !important;
}

ul.stepper .step::before {
    color: var(--dark);
    background-color: var(--light);
}

.form-check-input[type="radio"]:not(:checked) + label::before, .form-check-input[type="radio"]:not(:checked) + label::after, label.btn input[type="radio"]:not(:checked) + label::before, label.btn input[type="radio"]:not(:checked) + label::after {
    border: 2px solid var(--light);
}

.form-check-input[type="radio"]:disabled:not(:checked) + label::before, .form-check-input[type="radio"]:disabled:checked + label::before, label.btn input[type="radio"]:disabled:not(:checked) + label::before, label.btn input[type="radio"]:disabled:checked + label::before {
    background-color: transparent;
    border-color: rgb(151, 151, 151);
}

ul.stepper .step-title::after {
    color: var(--light);
}

.dropdown-menu {
    background-color: var(--dark);
}

.dropdown-item {
    color: var(--light) !important;
}

small {
    color: var(--light);
}

.spinner-border {
    color: var(--light);
}

.picker .picker__box {
    background-color: var(--dark);
}

.picker {
    color: var(--light) !important;
}

div.picker.datepicker .picker__box div.picker__footer button:hover {
    color: var(--dark)
}

div.picker.datepicker .picker__box .picker__table .picker__year.picker__year--infocus:hover:not(.picker__year--selected) {
    color: var(--dark)
}

.picker__box .picker__table .picker__day--infocus {
    color: var(--light) !important
}

.picker__box .picker__table .picker__day--infocus:hover {
    color: var(--dark) !important
}

table {
    color: var(--light) !important;
}

div.picker.datepicker:hover {
    background-color: #5e6366
}

div.picker.datepicker .picker__box .picker__header.datepicker__box .picker__select-year:hover {
    color: var(--dark)
}

div.picker.datepicker .picker__box .picker__header.datepicker__box .picker__select-year {
    color: var(--light)
}

a:not(.btn):not(.dropdown-item) {
    color: var(--teal) !important
}

a .btn .btn-sm .btn-danger .waves-effect .float-left {
    color: var(--light) !important
}

#s3-timeicon {
    color: var(--blue) !important
}

hr {
    border-top: 1px solid var(--hrdark) !important
}

ul.stepper > .step:not(:last-of-type)::after {
    background-color: var(--hrdark);
}

ul.stepper .step.done::before {
    background-color: var(--teal);
}

ul.stepper .step.wrong::before {
    background-color: #ee6257
}

.card {
    background-color: var(--dark);
}

#s5-morespan {
    color: var(--light)
}

.modal-footer {
    border-top: 1px solid var(--hrdark)
}

.dropdown-menu {
    box-shadow: 15px 0px 15px 0px
}

#backtoold-label {
    color: var(--light)
}

.dropdown-divider {
    border-top: 1px solid var(--hrdark)
}

#db2-notdark-warning {
    display: block !important
}

.modal-dialog.modal-notify.modal-info .modal-header {
    background-color: var(--info);
}

.invalid-feedback {
    color: #ee6257
}

.redtext {
    color: #ee6257 !important
}

.greentext {
    color: var(--teal) !important
}