/*
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
*/

#locations-form-error {
    display: none !important;
}

ul.stepper .step.wrong:before {
    font-size: 0.9rem;
}

ul.stepper .step.done:before {
    font-size: 0.9rem;
}

ul.stepper .step-title {
    top: -3px;
}

.md-form {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

#s2-datepick-error {
    display: none;
}

.modal-body{
    color: #000
}

.redtext {
    color: #f44336
}

.orangetext {
    color: #ff9800
}

.greentext {
    color: #4caf50
}

body {
    transition: background-color 250ms linear;
}

