<!--
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
-->

<div class="centered-2">
    <div class="centered-2-inline">
        <h3>DOCBatch has been shut down as ordered by Dine On Campus</h3>
        <span id="af-1" style="display: none">It is with unfortunate news that DOCBatch will be shut down today, April 1, 2021, due to a takedown request from Dine On Campus. <br><br></span>
        <span id="af-2" style="display: none">In their email to us, they said... <br><br></span>
        <span id="af-3" style="display: none">"As in accordance with our Terms of Service, DOCBatch is not allowed to use the Dine On Campus APIs. You must take down DOCBatch, and redirect users to use the Dine On Campus app immediately."<br><br></span>
        <span id="af-4" style="display: none">"Failure to comply will result in legal action."<br><br></span>
        <span id="af-5" style="display: none">"Unless you implement Clippy into DOCBatch."<br><br></span>
        <span id="af-6" style="display: none">"Then it can stay up."</span>
    </div>
</div>
<script>
    function startAprilFools() {
        eventctrl.emit(eventctrl.aprilFoolsFadeIn)

        var fit = 500
        setTimeout(function () {
            $("#af-1").fadeIn(fit)
        }, 1500)

        setTimeout(function() {
            $("#af-2").fadeIn(fit)
        }, 3500)

        setTimeout(function() {
            $("#af-3").fadeIn(fit)
        }, 5000)

        setTimeout(function() {
            $("#af-4").fadeIn(fit)
        }, 8000)

        setTimeout(function() {
            $("#af-5").fadeIn(1000)
        }, 12000)

        setTimeout(function () {
            $("#af-6").fadeIn(1000)
        }, 15000)

        setTimeout(function () {
            eventctrl.emit(eventctrl.aprilFoolsFadeOut)
        }, 18000)
    }
</script>