<!--
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
-->

<!DOCTYPE html>
<html>
    <head>
        {% include "headers-bundle.html" %}
    </head>
    <body id="basehtml" style="background-color: #282c2f">
        {% include "modals.html" %}
        <div style="display: none">
            {% include "radiocopy.html" %}
        </div>
        <div id="mainsteps" style="display: none">
            {% include "floating.html" %}
            <div class="container">
                <div class="col s12">
                    <ul class="stepper linear" id="feedback-step">
                        <li class="step active" id="step1">
                            <div data-step-label="" class="step-title waves-effect waves-dark" id="s1step-label">Location</div>
                            {% include "step1.html" %}
                        </li>
                        <li class="step" id="step2">
                            <div data-step-label="" class="step-title waves-effect waves-dark" id="s2step-label" onclick="s1ctrl.updatelabel(undefined, true)">Date</div>
                            {% include "step2.html" %}
                        </li>
                        <li class="step" id="step3">
                            <div data-step-label="" class="step-title waves-effect waves-dark" id="s3step-label" onclick="s2ctrl.validate(true)">Time</div>
                            {% include "step3.html" %}
                        </li>
                        <li class="step" id="step4">
                            <div data-step-label="" class="step-title waves-effect waves-dark" id="s4step-label" onclick="frmctrl.s3validate(true, false)">Reoccurring</div>
                            {% include "step4.html" %}
                        </li>
                        <li class="step disabled" id="step5">
                            <div data-step-label="0 reservations" class="step-title waves-effect waves-dark" id="s5step-label">Confirm</div>
                            {% include "step5.html" %}
                        </li>
                      </ul>
                </div>
            </div>
        </div>
        <div id="loader" style="display: none">
            {% include "loader.html" %}
        </div>
        <div id="eatnow-locating" style="display: none">
            {% include "eatnow-locating.html" %}
        </div>
        <div id="eatnow-failed" style="display: none">
            {% include "eatnow-failed.html" %}
        </div>
        <div id="eatnow-nothing" style="display: none">
            {% include "eatnow-nothing.html" %}
        </div>
        <div id="login" style="display: none">
            {% include "login.html" %}
        </div>
        <div id="login-userid" style="display: none">
            {% include "login-userid.html" %}
        </div>
        <div id="step6" style="display: none">
            {% include "step6.html" %}
        </div>
        <div id="failedload" style="display: none">
            {% include "failedload.html" %}
        </div>
        <div id="step6-success" style="display: none">
            {% include "step6-success.html" %}
        </div>
        <div id="step6-fail" style="display: none">
            {% include "step6-fail.html" %}
        </div>
        <div id="s6-deleteall" style="display: none">
            {% include "step6-deleteall.html" %}
        </div>
        <div id="s6-deleteall-success" style="display: none">
            {% include "step6-deleteall-success.html" %}
        </div>
        <div id="s6-deleteall-p1fail" style="display: none">
            {% include "step6-deleteall-p1fail.html" %}
        </div>
        <div id="s6-deleteall-p1" style="display: none">
            {% include "step6-deleteall-p1.html" %}
        </div>
        <div id="s6-deleteall-fail" style="display: none">
            {% include "step6-deleteall-fail.html" %}
        </div>
        <div id="s6-deleteall-p1none" style="display: none">
            {% include "step6-deleteall-p1none.html" %}
        </div>
        <div id="s6-deleteall-spam" style="display: none">
            {% include "step6-deleteall-spam.html" %}
        </div>
        <div id="aprilfools" style="display: none">
            {% include "aprilfools.html" %}
        </div>
        <div id="shutdown" style="display: none">
            {% include "shutdown.html" %}
        </div>
    </body>
</html>