<!--
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
-->

<div class="centered-textalign">
    <h3 style="margin-bottom: 0px">Failed to determine your location</h3>
    <span id="eatnow-failed-code1" style="display: none">
        Eat Now can't find the nearest dining location because you denied location access. Please allow location access to your browser, then try again.
    </span>
    <span id="eatnow-failed-code2" style="display: none">
        Eat Now failed because your location couldn't be determined due to a geolocation error. Make sure your device has location services on, and that your device can acquire your location.
    </span>
    <span id="eatnow-failed-code3" style="display: none">
        Eat Now failed because your device took too long to return a location (30 seconds). Make sure your device can acquire your location, then try again.
    </span>
    <span id="eatnow-failed-generic" style="display: none">
        Eat Now couldn't get your location. Try again later.
    </span>
    <br>
    <input type="button" class="btn btn-sm btn-primary waves-effect waves-dark" onclick="eventctrl.emit(eventctrl.eatNowFailedReset)" style="margin-top: 20px" value="OK">
</div>