<!--
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
-->

<div class="centered-textalign">
    <h3 style="margin-bottom: 0px">Failed to find dining locations</h3>
    We couldn't find any dining locations open within 1 mile<span id="eatnow-nothing-expl-normal">. Sorry about that!</span><span id="eatnow-nothing-expl-toofar" style="display: none">, because you're too far from campus. (the nearest location found was <span id="eatnow-nothing-exp-toofar-1"></span> which is <span id="eatnow-nothing-exp-toofar-2"></span> away)</span><br>
    <input type="button" class="btn btn-sm btn-primary waves-effect waves-dark" onclick="eventctrl.emit(eventctrl.eatnowNothingReset)" style="margin-top: 20px" value="OKAY :(">
</div>