<!--
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
-->

<a class="btn-floating btn-primary dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="position: fixed; bottom: 0.5rem; right: 0.5rem"><i class="fas fa-bars"></i></a>
<div class="dropdown" id="dropdown">
    <div class="dropdown-menu dropdown-primary">
        <a class="dropdown-item" id="appearancetoggle" onclick="eventctrl.emit(eventctrl.appearanceChanged)">Appearance: <span id="floating-appearance">Dark</span></a>
        <a class="dropdown-item" id="daka-toggle" onclick="dakatoggle()">DAKA Mode: <span id="dakamode">Off</span></a>
        <a class="dropdown-item" id="clippy-toggle" onclick="clippytoggle()">Clippy Mode: <span id="clippymode">Off</span></a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" data-toggle="modal" data-target="#aboutModal">About</a>
        <a class="dropdown-item" data-toggle="modal" data-target="#changelogModal">Changelog</a>
        <a class="dropdown-item" data-toggle="modal" data-target="#deleteModal" onclick="clearDelete()">Delete Reservations</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" data-toggle="modal" data-target="#shortcutsModal">Siri Shortcuts</a>
        <a class="dropdown-item" data-toggle="modal" onclick="fillUID()" data-target="#whatsMyIDModal">What's my User ID?</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" data-toggle="modal" data-target="#logoutModal">Log Out</a>
    </div>
</div>