<!--
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
-->

<!-- MD Bootstrap does come out to about 1.7 MB of total assets. However, caching on Cloudflare's side will make sure these stay in browser cache for a long while. -->
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap" rel="stylesheet"> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="static/css/mdbootstrap.css">
<link rel="stylesheet" href="static/css/center.css">
<link rel="stylesheet" href="static/css/mdstepper.css">
<link rel="stylesheet" href="static/css/clockpickerfix.css">
<link rel="stylesheet" href="static/css/docbatch.css">
<link rel="stylesheet" href="static/css/dark.css" disabled>
<link rel="stylesheet" type="text/css" href="static/js/build/clippy.css" media="all">
<!-- Your exact filenames for MD Bootstrap may be different. -->
<script src="static/js/console.js"></script>
<script src="static/js/bowser.js"></script>
<script src="static/js/mdbootstrap-2.js"></script>
<script src="static/js/clockpicker.js"></script>
<script src="static/js/mdstepper.js"></script>
<script src="static/js/XHRwrap.js"></script>
<script src="static/js/Events.js"></script>
<script src="static/js/UIController.js"></script>
<script src="static/js/Authentication.js"></script>
<script src="static/js/Locations.js"></script>
<script src="static/js/FormUIController.js"></script>
<script src="static/js/DateUI.js"></script>
<script src="static/js/ReoccurUI.js"></script>
<script src="static/js/TimeUI.js"></script>
<script src="static/js/ConfirmUI.js"></script>
<script src="static/js/LocationUI.js"></script>
<script src="static/js/SubmissionUI.js"></script>
<script src="static/js/Reservations.js"></script>
<script src="static/js/Reservation.js"></script>
<script src="static/js/DeleteReservation.js"></script>
<script src="static/js/EatNow.js"></script>
<script src="static/js/onload.js"></script>
<script src="static/js/uuid4.js"></script>
<script src="static/js/Appearance.js"></script>
<script src="static/js/build/clippy.min.js"></script>
<link rel="apple-touch-icon" sizes="225x225" href="static/icons/apple-225x225.png"/>
<link rel="apple-touch-icon" sites="337x337" href="static/icons/apple-337x337.png"/>
<link rel="apple-touch-icon" sites="450x450" href="static/icons/apple-450x450.png"/>
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
<title>WPI DineOnCampus Batch Reserver</title>
<link rel="manifest" href="static/manifest.json">
<link rel="icon" type="image/png" href="static/icons/doc-196.png"/>