<!--
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
-->

<div class="centered-2">
    <div class="centered-2-inline">
        <h3>Log into DOCBatch using User ID</h3>
        <div id="uid-desktop-instructions">
            Follow the instructions below to retrieve your Dine On Campus User ID so you can log into DOCBatch. If you already know it, you can paste it in here.
            <ol>
                <li>Log into <a href="https://dineoncampus.com/wpi" target="_blank" rel="noopener">Dine On Campus</a></li>
                <li>Once logged in, right click on the page and click inspect element</li>
                <li>Click on Storage (Firefox) or Application (Chrome) at the top of devtools</li>
                <li>Expand the cookies section, then click on https://dineoncampus.com</li>
                <li>Click on the auth.userSession cookie</li>
                <li>Copy and paste the cookie value into the field below. We'll take care of parsing it.</li>
                <li>Once logged in, click on the bottom in the lower right corner of DOCBatch, then click on "What's my User ID?", so you can store your User ID to login on mobile devices.</li>
            </ol>
        </div>
        <div id="uid-notdesktop" style="display: none">
            Enter your Dine On Campus User ID in the field below. <br><br>
            To retrieve your Dine On Campus User ID, please visit DOCBatch on a desktop device that has Chrome/Firefox installed. You'll see a list of instructions on how to retrieve your User ID. <br><br>
            Once you retrieve your User ID, you can either type it directly into DOCBatch on this device, or you can put it into a cloud note-keeping service (Google Keep, OneNote, Evernote, etc etc).
        </div>
        </small>
        <div class="md-form" style="margin-top: 20px">
            <input type="text" id="login-userid-field" class="form-control" autocomplete="off">
            <label for="login-userid">User ID</label>
            <div class="valid-feedback">
                User ID is valid!
            </div>
            <div class="invalid-feedback">
                Please enter a valid User ID or cookie value.
            </div>
        </div>
        <button class="btn btn-primary" type="submit" id="login-submit-userid" style="margin-top: 20px">Sign In</button>
        <button class="btn btn-info" id="login-normalback" onclick="eventctrl.emit(eventctrl.loginSwitchNormal)" style="margin-top: 20px">Sign In using email & password</button>
    </div>
</div>