<!--
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
-->

<div class="centered-2">
    <div class="centered-2-inline">
        <h3>Login to DOCBatch</h4>
        Log in using your Dine On Campus email/password. <br><br>
        Your email/password are only used for authentication to retrieve your Dine On Campus User ID, and are never stored. Your User ID is stored on your device. <br><br>
        If you don't feel comfortable entering your authentication details here, you can also log in with your Dine On Campus User ID.
        <div class="md-form" style="margin-top: 20px">
            <input type="email" id="login-email" class="form-control" autocomplete="off" required>
            <label for="login-email">Email</label>
            <div class="valid-feedback">
                Email is valid!
            </div>
            <div class="invalid-feedback">
                Please provide a valid email address.
            </div>
        </div>
        <div class="md-form" style="margin-top: 20px">
            <input type="password" id="login-password" class="form-control" autocomplete="off" required>
            <label for="login-password">Password</label>
            <div class="invalid-feedback">
                Please provide a valid password.
            </div>
            <div class="valid-feedback">
                Password is valid!
            </div>
        </div>
        <button class="btn btn-primary" type="submit" id="login-submit" style="margin-top: 20px">Sign In</button>
        <button class="btn btn-info" id="login-switch" onclick="eventctrl.emit(eventctrl.loginSwitchUserID)" style="margin-top: 20px">Sign In using User ID</button>
    </div>
</div>