<!--
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
-->

<!-- About modal -->
<div class="modal fade" id="aboutModal" tabindex="-1" role="dialog" aria-labelledby="aboutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
            <p class="heading lead">About DOCBatch</p>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            DOCBatch (<b>D</b>ine <b>O</b>n <b>C</b>ampus <b>Batch</b> Reserver) is a web app designed to make dining reservations faster & easier. <br><br>
            DOCBatch is simple to use and minimally designed, but also includes lots of advanced features when you need them.
            <hr>
            DOCBatch v3.2.12 <br>
            &copy; 2020-2021 owenthe.dev
        </div>
        <div class="modal-footer justify-content-center">
            <a type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Close</a>
        </div>
        </div>
    </div>
</div>

<!-- Changelog modal -->
<div class="modal fade" id="changelogModal" tabindex="-1" role="dialog" aria-labelledby="changelogModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
        <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
            <p class="heading lead">DOCBatch Changelog (Latest: v3.2.12)</p>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <b>Note: </b>It might take your device up to 8 hours to fetch new DOCBatch updates due to browser caching.
            <hr>
            <h5>DOCBatch 3.2.12 - Released on May 14, 2021</h5>
            <ul>
                <li>Pushed back the shutdown time to 3:00 PM EDT on May 17, 2021, as this is 1 hour after all dining locations close for the day.</li>
            </ul>
            <hr>
            <h5>DOCBatch 3.2.11 - Released on May 10, 2021</h5>
            <ul>
                <li>Added code for DOCBatch to automatically shutdown on 5/17 at 12 PM EDT.</li>
                <li>Added persistent warning for DOCBatch shutdown after 5/13 at 12 AM EDT, with a countdown to the shutdown.</li>
                <li>Fixed some minor logging bugs.</li>
                <li>Shortened text on the delete reservations spam confirmation dialogue.</li>
            </ul>
            <hr>
            <h5>DOCBatch 3.2.10 - Released on May 9, 2021</h5>
            <ul>
                <li>Beginning the DOCBatch 3 shutdown for the summer. A warning will now appear on Step 1 about the shutdown. Clicking the X button will permanently dismiss it.</li>
                <li>Fixed some minor UI bugs.</li>
            </ul>
            <hr>
            <h5>DOCBatch 3.2.9 - Released on April 19, 2021</h5>
            <ul>
                <li>Fixed a bug where if Eat Now failed and Clippy Mode was off, DOCBatch would require a full reset.</li>
            </ul>
            <hr>
            <h5>DOCBatch 3.2.8 - Released on April 15, 2021</h5>
            <ul>
                <li>More than one weekend later, Clippy is back. You can enable Clippy Mode in the menu.</li>
            </ul>
            <hr>
            <h5>DOCBatch 3.2.7 - Released on April 1, 2021</h5>
            <ul>
                <li>Happy April Fools Day! As of 4/2, all the April Fools have been removed. But fear not! Clippy will come back in an update this weekend.</li>
            </ul>
            <hr>
            <h5>DOCBatch 3.2.6 - Released on March 24, 2021</h5>
            <ul>
                <li>Updated the Siri Shortcut links due to a link outage affecting older Siri Shortcuts.</li>
                <li>When you are attempting to delete more than 20 reservations, a warning will appear about email spam.</li>
                <li>Fixed some minor UI glitches.</li>
            </ul>
            <hr>
            <h5>DOCBatch 3.2.5 - Released on March 13, 2021</h5>
            <ul>
                <li>Fixed a bug where tapping the Today/Tomorrow buttons on Step 2 and the -30 mins/Now/+30 mins on Step 3 would result in page zooms.</li>
            </ul>
            <hr>
            <h5>DOCBatch 3.2.4 - Released on March 2, 2021</h5>
            <ul>
                <li>Support for going back to DOCBatch 2 has been removed. (old.docbatch.app will no longer be active after 4/1/2021)</li>
            </ul>
            <hr>
            <h5>DOCBatch 3.2.3 - Released on February 24, 2021</h5>
            <ul>
                <li>Here at DOCBatch (let's pretend DOCBatch is ran by a big company and not one guy), we (I) like to innovate. After all, it is WPI, the home of innovation. We (I) revolutionized the dining experience, making it easier to eat now, reserve for now, and make batch reservations.</li>
                <li>We also recognize that Chartwells has made a dire mistake by not adding a DAKA mode to their app. What's a DAKA mode you ask? Replacing all instances of Morgan Dining Hall with DAKA, its true name. Chartwells can't innovate, but we can. Introducing...</li>
                <li><h4>DAKA Mode</h4></li>
                <li>basically it just replaces all instances of morgan with daka</li>
                <li>yep, that's it. this is what happens when cs nerds have too much free time. you get daka mode.</li>
                <li>anything else? oh right!</li>
                <li>Automatically goes for the knees of everyone not using docbatch, because between the auto-daka renaming and dark mode, there's no excuses to use the dine on campus app. ever.</li>
            </ul>
            <hr>
            <h5>DOCBatch 3.2.2 - Released on February 20, 2021</h5>
            <ul>
                <li>Improve refresh time of location open status to every 10 seconds (from every 60 seconds)</li>
                <li>Add logging to components of DOCBatch introduced in 3.2.0</li>
                <li>Updated Siri Shortcuts to v1.1.0 to improve user privacy (please update to them!)</li>
            </ul>
            <hr>
            <h5>DOCBatch 3.2.1 - Released on February 15, 2021</h5>
            <ul>
                <li>Reduce sudden flash on screen when appearance is being initalized with fade</li>
                <li>Make transition between appearance modes smoother</li>
                <li>Improve contrast with invalid input feedback/step marker</li>
            </ul>
            <hr>
            <h5>DOCBatch 3.2.0 - Released on February 13, 2021</h5>
            <ul>
                <li><h4>DOCBATCH. HAS. DARK MODE.</h4></li>
                <li>Finally! DOCBatch is a lot easier on the eyes. This is the first revision of dark mode, so expect refinement in future versions to improve contrast and whatnot.</li>
                <li>You can now ask Siri to make a reservation with the all-new Siri Shortcuts! You can now just yell at your iPhone when you're hungry.</li>
                <li>When clicking on +/- 30 mins in Step 3 with no time present, the current time will be inputted with the desired +/- 30 minute offset.</li>
                <li>Fixed a visual bug on Step 1 where if you caused a validation error (no location selected), corrected it, then made another reservation, an empty space would appear.</li>
                <li>DOCBatch 2 support will now end on around March 1, 2021. Starting around 3/2/21, you won't be able to access DOCBatch 2.</li>
            </ul>
            <hr>
            <h5>DOCBatch 3.1.4 - Released on February 5, 2021</h5>
            <ul>
                <li>Fixed a bug where reserving for now as a location was about to open in the final 15 minutes would not reserve for the proper time.</li>
                <li>Removed the location is closed prompt for reserve for now when a location will open in 15 minutes or less.</li>
            </ul>
            <hr>
            <h5>DOCBatch 3.1.3 - Released on January 23, 2021</h5>
            <ul>
                <li>Fixed a major bug where a location opening time would show as Opens tomorrow at (time), when it should be showing up as Opens at (time).</li>
                <li>Added a 60-minute countdown when a location is about to open for location hours.</li>
                <li>Increased the Eat Now range to 1 mile from 0.5 miles.</li>
                <li>Fixed a bug where if you were not within Eat Now range and all Eat Now eligible locations were open, the closest location would not show in the error message.</li>
            </ul>
            <hr>
            <h5>DOCBatch 3.1.2 - Released on January 21, 2021</h5>
            <ul>
                <li>Disabled the ability to make reservations for locations that don't accept reservations. This extends to Eat Now as well, it will only search for locations that allow reservations. This feature is subject to change depending on feedback.</li>
                <li>Roboto font is now used on Windows to improve readability.</li>
                <li>Homepage added to the DOCbatch API to explain the DOCbatch API.</li>
            </ul>
            <hr>
            <h5>DOCBatch 3.1.1 - Released on January 19, 2021</h5>
            <ul>
                <li>Fixed a bug where if you clicked on Step 4 after completing Step 3, DOCBatch would take you to a disabled Step 5.</li>
                <li>Fixed a bug where after adding reoccuring reservations from Step 4, the table wouldn't collapse automatically even if there were under 5 reservations.</li>
                <li>Fixed a bug where hitting continue on Step 1 without a location selected would not show the invalid feedback.</li>
            </ul>
            <hr>
            <h5>DOCBatch 3.1.0 - Released on January 19, 2021</h5>
            <ul>
                <li>Added Eat Now button on Step 1! This will get your current location, find the closest open dining location (by straight distance), and then make a reservation for now.</li>
                <li>On larger devices, the modal for the changelog is now larger</li>
                <li>DOCBatch 2 support will be extended to DOCBatch 3.3.0.</li>
                <li>Fixed a major bug with Step 4, where the reoccurring reservations count would be marked as invalid internally, but would be within proper bounds.</li>
                <li>Improved console logging for improved debugging.</li>
                <li>DOCBatch Beta will now point to the standard DOCBatch code when a beta isn't being worked on</li>
            </ul>
            <hr>
            <h5>DOCBatch 3.0.1 - Released on January 12, 2021</h5>
            <ul>
                <li>Small bug fix where the closing time minutes were off by 1 minute. (DOCBatch 3.0.0 said a location closes in 17 minutes at 1:42 PM, when it closes at 2 PM, 3.0.1 says 18 minutes at 1:42 PM as it should.)</li>
                <li>Location hours will now go red when the location is closing in 5 minutes or less. (as compared to 15 minutes or less in 3.0.0)</li>
                <li>Location hours when a location is closing in 1 minute will now show Open, but is closing in 1 minute. (as compared to closing in 1 minutes in 3.0.0)</li>
                <li>Fixed a bug on Step 4 where if the number of times entry was out of bounds and you clicked the button to move on to Step 5, DOCBatch would lock up, requiring a refresh.</li>
                <li>Fixed a bug on Step 4 where if there were no reoccuring days selected and you clicked the button to move on to Step 5, DOCBatch would lock up, requiring a refresh.</li>
            </ul>
            <hr>
            <h5>DOCBatch 3.0.0 - Released on January 11, 2021</h5>
            DOCBatch 3.0.0 is here! Featuring a complete UI/UX overhaul that is leagues better than DOCBatch 2.3, and lots of new features and improvements, DOCBatch 3.0.0 makes the dining reservation experience simpler and easier.
            <ul>
                <li>New material design across the website! It looks lots better than DOCBatch 2.</li>
                <li>A vertical stepper is now used go to through each step of the reservation process.</li>
                <li>Hours of operation have been added to the Locations step, so you know which dining locations are open or closed.</li>
                <li>Reserve for Now has been made smarter! It'll let you know when a location is closed if you try to reserve for now.</li>
                <li>Reserve for Now is smarter when locations are about to close - it will no longer make reservations for a location's closing time. Say at 10:50 with a closing time of 11, reserve for now makes a reservation at 10:30.</li>
                <li>You can now delete your reservations through DOCBatch, since Dine On Campus doesn't automatically delete old reservations. Get your account squeaky clean!</li>
                <li>The option to login via your Dine On Campus User ID has been added, if you were uncomfortable with entering in your username/password directly into DOCBatch 2.3.</li>
                <li>The option to easily see your Dine On Campus User ID has been added.</li>
                <li>Manifest file has been improved when you add DOCBatch to your homescreen.</li>
                <li>Major performance improvements through bundling JS/CSS files</li>
                <li>Numerous minor fixes to make the DOCBatch experience great</li>
            </ul>
            DOCBatch 2 will remain online until v3.2.0 releases, just in case you don't enjoy the DOCBatch 3 experience, or it's quite a sharp adjustment to make. <br><br>
            There will be some bug fixes and such coming online in the coming weeks.
        </div>
        <div class="modal-footer justify-content-center">
            <a type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Close</a>
        </div>
        </div>
    </div>
</div>

<!-- Delete Reservations Confirm modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-danger" role="document">
        <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
            <p class="heading lead">Delete your past reservations?</p>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="text-center">
                This will delete all your reservations that are 2 hours or more in the past, and this action cannot be undone.
                <hr>
                <div class="md-form">
                    <input type="checkbox" class="form-check-input" id="deleteall-checkbox">
                    <label class="form-check-label" for="deleteall-checkbox">Delete all your reservations (past & future)</label>
                </div>
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <a type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Close</a>
            <input type="button" class="btn btn-danger waves-effect" value="DELETE" data-dismiss="modal" onclick="deleteAll()">
        </div>
        </div>
    </div>
</div>


<!-- Log Out Confirm modal -->
<div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="logoutModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-danger" role="document">
        <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
            <p class="heading lead">Log out of DOCBatch?</p>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="text-center">
                 To use DOCBatch after logging out, you'll need to log back in.
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <a type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Close</a>
            <input type="button" class="btn btn-danger waves-effect" data-dismiss="modal" onclick="eventctrl.emit(eventctrl.logOut)" value="LOG OUT">
        </div>
        </div>
    </div>
</div>

<!-- Confirm Delete Pending Reservations -->
<div class="modal fade" id="pendingReservationsModal" tabindex="-1" role="dialog" aria-labelledby="pendingReservationsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-danger" role="document">
        <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
            <p class="heading lead">Delete all pending reservations?</p>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="text-center">
                 This will delete all pending reservations. This action cannot be undone.
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <a type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Close</a>
            <input type="button" class="btn btn-danger waves-effect" data-dismiss="modal" onclick="eventctrl.emit(eventctrl.deletePendingReservations)" value="CONFIRM">
        </div>
        </div>
    </div>
</div>

<!-- Reservation for Now Location Closed Modal -->
<div class="modal fade" id="rfnclosedModal" tabindex="-1" role="dialog" aria-labelledby="rfnclosedModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
            <p class="heading lead">Reserve for Now at closed location?</p>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="text-center">
                 The location selected is currently closed. Would you still like to reserve for now?
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <a type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Close</a>
            <input type="button" class="btn btn-info waves-effect" data-dismiss="modal" onclick="frmctrl.reservefornow(true)" value="CONFIRM">
        </div>
        </div>
    </div>
</div>

<!-- Whats my User ID modal -->
<div class="modal fade" id="whatsMyIDModal" tabindex="-1" role="dialog" aria-labelledby="whatsMyIDModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-info" role="document">
        <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
            <p class="heading lead">What's my User ID?</p>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="text-center">
                 Your Dine On Campus User ID is:
                 <h4><code><span id="wmi-span"></span></code></h4>
                 Use this User ID when logging in via the User ID method on other devices, or for Siri Shortcuts.
                 <hr>
                 <b>Warning!</b> Make sure you keep your User ID safe. Your User ID permanently tied to your account, and is how Dine On Campus authenticates you on their services. 
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <a type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Close</a>
        </div>
        </div>
    </div>
</div>

<!-- Siri Shortcuts modal -->
<div class="modal fade" id="shortcutsModal" tabindex="-1" role="dialog" aria-labelledby="shortcutsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-notify modal-lg modal-info" role="document">
        <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
            <p class="heading lead">Siri Shortcuts (Beta) for DOCBatch</p>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            <div class="text-center">
                DOCBatch has Siri Shortcuts (in beta). On iOS 13+ devices, ask Siri to make a reservation at your preferred dining location, add to your homescreen for one-click reservations, and make reservations on your Apple Watch!
                <hr>
                Before getting started, enable Untrusted Shortcuts in settings (Settings -> Shortcuts -> Allow Untrusted Shortcuts). Then, add the shortcuts for your preferred dining location. <br><br>
                When you add the shortcuts, you'll be prompted to add your User ID. Retrieve this by using the What's my User ID option in the menu. Once that's done, enjoy even quicker reservations!
                <hr>
                <div class="notdakamode" style="display: block">
                    <a href="https://www.icloud.com/shortcuts/7ed231ab72754292954320acf83992d2" target="_blank">Add Shortcut for Morgan (v1.1.1)</a> <br>
                </div>
                <div class="dakamode" style="display: none">
                    <a href="https://www.icloud.com/shortcuts/5f6d8bb95e83422382a14a05d5a93694" target="_blank">Add Shortcut for DAKA (v1.1.1)</a> <br>
                </div>
                <a href="https://www.icloud.com/shortcuts/ecc40293efb144f3854be988548ed048" target="_blank">Add Shortcut for CC (v1.1.1)</a>
                <hr>
                <b>Note: </b>Right now, these shortcuts don't check if a location is closed, and won't apply the logic to not make a reservation for the closing time of a location. This will be enabled in a future server-side update.
            </div>
        </div>
        <div class="modal-footer justify-content-center">
            <a type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Close</a>
        </div>
        </div>
    </div>
</div>

<div class="modal fade" id="shutdownModal" tabindex="-1" role="dialog" aria-labelledby="shutdownModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-notify modal-info" role="document">
        <div class="modal-content">
        <!--Header-->
        <div class="modal-header">
            <p class="heading lead">DOCBatch Summer Shutdown</p>

            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true" class="white-text">&times;</span>
            </button>
        </div>

        <div class="modal-body">
            After a successful 2020-2021 school year, DOCBatch is shutting down for the summer on <b>May 17, 2021 at 3:00 PM EDT</b>. <br><br>
            Whether DOCBatch comes back for the 2021-2022 school year will largely depend on if dining reservations continue to be required. If this is the case, expect DOCBatch to come back online around <b>August 15, 2021</b>. If this is not the case, then DOCBatch will remain offline. <br><br>
            Regardless of this decision, DOCBatch 2 and 3 will be open-sourced in June 2020. <br><br>
            This shutdown will affect different DOCBatch services differently.
            <hr>
            <h5>Main DOCBatch Site</h5>
            All functionality will continue to work until May 17, 2021 at 3:00 PM EDT. At around this time, an update will be pushed to DOCBatch turning it off. This might take up to 8 hours to show up on your device.
            <hr>
            <h5>Siri Shortcuts</h5>
            Siri Shortcut functionality will continue to work until May 17, 2021 at 3:00 PM EDT. At around this time, attempting to make reservations using the Siri Shortcuts will always fail.
            <hr>
            <h5>DOCBatch Locations API</h5>
            The DOCBatch Locations API (/api/v1/locations) will continue to operate throughout the summer with no changes.
            <hr>
            Thank you once again for a successful 2020-2021 school year. Have a great summer!
        </div>
        <div class="modal-footer justify-content-center">
            <a type="button" class="btn btn-primary waves-effect" data-dismiss="modal">Close</a>
        </div>
        </div>
    </div>
</div>