<!--
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
-->

<div id="radiocopy" style="margin-bottom: 2px">
    <input type="radio" class="form-check-input" id="radiocopy_input" onclick="eventctrl.emit(eventctrl.locationSelected)" required>
    <label class="form-check-label" for="radiocopy_input" id="radiocopy_label"><span id="radiocopy_location"></span> - <i><span id="radiocopy_hours"></span></i></label>
</div>