<!--
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
-->

<div class="step-new-content" id="s5content">
    <div class="row">
        <div class="md-form col-12">
            <h4>Ready to submit <span id="s5-reservcount">0 reservations</span>?</h4>
            <!--Accordion wrapper-->
            <div class="accordion accordion-blocks" id="reservationaccordion" role="tablist" aria-multiselectable="true" style="margin-top: 20px; margin-bottom: 20px">

                <!-- Accordion card -->
                <div class="card">
                    <div class="card-header" role="tab" id="headingTable">
                        <a data-toggle="collapse" data-parent="#reservationaccordion" href="#s5-reservationtable" aria-expanded="false"
                        aria-controls="s5-reservationtable" style="padding: 0; text-align: left">
                        <h5 class="mt-1 mb-0 align-middle">
                            <span>Pending Reservations</span>
                            <i class="fas fa-angle-down rotate-icon float-right" style="margin-top: 3px"></i>
                        </h5>
                        </a>
                    </div>
                
                    <div id="s5-reservationtable" class="collapse" role="tabpanel" aria-labelledby="headingOne1"
                        data-parent="#reservationaccordion">
                        <div class="card-body">
                        <div class="table-responsive">
                            <table class="table" id="s5-currentreservations">
                                <thead>
                                    <tr>
                                        <th scope="col">Date</th>
                                        <th scope="col">Time</th>
                                        <th scope="col">Location</th>
                                        <th scope="col"><a class="btn btn-sm btn-danger waves-effect float-left" style="padding-left: 16px; padding-right: 16px; margin-top: 0px; margin-bottom: 0px" data-toggle="modal" data-target="#pendingReservationsModal"><i class='fas fa-trash'></i> All</a></th>
                                    </tr>
                                </thead>
                                <tbody id="s5-currentreservations-body">
                                    <tr>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
            
            <span id="s5-morespan">If you'd like to make more reservations, click on the Make Another Reservation button.</span>
        </div>
    </div>
    <div class="step-actions">
        <input type="button" class="waves-effect waves-dark btn btn-sm btn-primary" onclick="document.dispatchEvent(new Event('make-reservations'))" value="SUBMIT">
        <input type="button" class="waves-effect waves-dark btn btn-sm btn-info" onclick="frmctrl.backtostart()" value="MAKE ANOTHER RESERVATION">
    </div>
</div>