<!--
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
-->

<div class="step-new-content" id="s2content">
  <div class="row">
    <div class="md-form col-s12 m15">
      <h4>What date is this reservation for?</h4>
      <div class="md-form">
        <div class="md-form md-outline input-with-post-icon datepicker" style="margin-bottom: 0">
          <input placeholder="Select date" type="text" id="s2-datepick" class="form-control" autocomplete="off" required />
          <i class="fas fa-calendar input-prefix"></i>
        </div>
        <small><a class="noselect" style="padding: 0; color: #007bff; touch-action: manipulation;" onclick="s2ctrl.autodate(0)">Today</a> | <a class="noselect" style="padding: 0; color: #007bff; touch-action: manipulation;" onclick="s2ctrl.autodate(86400)">Tomorrow</a></small>
      <div class="invalid-feedback" id="s2-invalidfeedback" style="display: none">
        Please enter a valid date.
      </div>
      <label id="s2-datepick-error" class="invalid" for="s2-datepick" style="display: none; opacity: 0;">This field is required.</label>
      </div>
    </div>
  </div>
  <div class="step-actions">
    <input type="button" class="waves-effect waves-dark btn btn-sm btn-primary" onclick="frmctrl.s2validate()" value="CONTINUE">
  </div>
</div>