<!--
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
-->

<div class="centered-textalign">
    <h3 style="margin-bottom: 0px">Warning - Email spam inbound</h3>
    You're about to delete <span class="s6-deleteall-spam-number"></span> reservations, which will result in <span class="s6-deleteall-spam-number"></span> emails landing in your inbox.<br><br>
    Whenever you're ready to receive a wave of emails, hit the continue button.<br>
    <input type="button" class="btn btn-sm btn-secondary waves-effect waves-dark" style="margin-top: 20px" value="DON'T CONTINUE" onclick="eventctrl.emit(eventctrl.deleteReservationsP1SpamDeny)">
    <input type="button" class="btn btn-sm btn-primary waves-effect waves-dark" style="margin-top: 20px" value="CONTINUE" onclick="eventctrl.emit(eventctrl.deleteReservationsP1SpamConfirm)">
</div>