<!--
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
-->

<div class="centered-textalign">
    <h3 style="margin-bottom: 0px">Failed to retrieve reservations :(</h3>
    The operation failed, so we cannot delete all your reservations. Check your connection, then try again. <br>
    <input type="button" style="margin-top: 20px" class="btn btn-sm btn-primary waves-dark waves-effect" value="OKAY" onclick="eventctrl.emit(eventctrl.deleteReservationsP1Fail2)">
</div>