<!--
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
-->

<div class="step-new-content" id="s3content">
    <div class="row">
        <div class="md-form col-s12 m15">
            <h4>What time is this reservation for?</h4>
            <div class="md-form">
                <div class="md-form md-outline input-with-post-icon timepicker" style="margin-bottom: 0" twelvehour="true" minutestep="15" init="testingtesting()">
                    <input type="text" id="s3-timepick" class="form-control" placeholder="Select time" autocomplete="off" required />
                    <i class="fas fa-clock input-prefix" id="s3-timeicon"></i>
                </div>
                <small><a class="noselect" style="padding: 0; color: #007bff; touch-action: manipulation;" onclick="s3ctrl.changetime(-30)">-30 mins</a> | <a class="noselect" style="padding: 0; color: #007bff; touch-action: manipulation;" onclick="s3ctrl.autotime(0)">Now</a> | <a class="noselect" style="padding: 0; color: #007bff; touch-action: manipulation;" onclick="s3ctrl.changetime(30)">+30 mins</a></small>
            </div>
            <div class="invalid-feedback" id="s3-invalidfeedback" style="display: none">
                Please enter a valid time.
              </div>
              <label id="s3-timepick-error" class="invalid" for="s3-timepick" style="display: none; opacity: 0;">This field is required.</label>
        </div>
    </div>
    <div class="step-actions">
        <input type="button" class="waves-effect waves-dark btn btn-sm btn-info" onclick="frmctrl.s3validate(false, true)" value="ADD 1 RESERVATION">
        <input type="button" class="waves-effect waves-dark btn btn-sm btn-primary" onclick="frmctrl.s3validate(false, false)" value="ADD REOCCURRING RESERVATIONS">
    </div>
</div>