<!--
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
-->

<div class="step-new-content" id="s4content">
    <div class="row">
        <div class="md-form col-s12 m15">
            <h4>How many times do you want this reservation to reoccur?</h4>
            <div class="md-form" style="margin-top: 20px; margin-bottom: 50px">
                <div class="md-form">
                    <input type="number" id="s4-reoccurpick" class="validate form-control" autocomplete="off" value="1" min="1" max="20" required />
                    <label for="s4-reoccurpick">Reoccurances (min 1, max 20)</label>
                </div>
            </div>
            <hr>
            <h4>When do you want the reservation this reoccur?</h4>
            <div class="md-form" style="margin-top: 20px; margin-bottom: 20px">
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input s4-date validate form-control" id="s4-date-sunday" name="s4-datepicker" value="0" required>
                    <label class="form-check-label" for="s4-date-sunday">Sunday</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input s4-date validate form-control" id="s4-date-monday" name="s4-datepicker" value="1" required>
                    <label class="form-check-label" for="s4-date-monday">Monday</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input s4-date validate form-control" id="s4-date-tuesday" name="s4-datepicker" value="2" required>
                    <label class="form-check-label" for="s4-date-tuesday">Tuesday</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input s4-date validate form-control" id="s4-date-wednesday" name="s4-datepicker" value="3" required>
                    <label class="form-check-label" for="s4-date-wednesday">Wednesday</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input s4-date validate form-control" id="s4-date-thursday" name="s4-datepicker" value="4" required>
                    <label class="form-check-label" for="s4-date-thursday">Thursday</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input s4-date validate form-control" id="s4-date-friday" name="s4-datepicker" value="5" required>
                    <label class="form-check-label" for="s4-date-friday">Friday</label>
                </div>
                <div class="form-check form-check-inline">
                    <input type="checkbox" class="form-check-input s4-date validate form-control" id="s4-date-saturday" name="s4-datepicker" value="6" required>
                    <label class="form-check-label" for="s4-date-saturday">Saturday</label>
                </div>
            </div>
        </div>
    </div>
    <div class="step-actions">
        <label id="s4-datepicker-error" class="invalid" for="s4-datepicker" style="display: none; margin-bottom: 10px">This field is required.</label><br>
        <input type="button" class="waves-effect waves-dark btn btn-sm btn-primary" onclick="frmctrl.s4addbutton()" value="ADD RESERVATIONS">
    </div>
</div>