<!--
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
-->

<div class="step-new-content" id="s1content">
    <div class="row">
      <div class="md-form col-12 ml-auto" style="margin-top: 0.5rem; margin-bottom: 0.5rem;">
        <h4>Where would you like to eat?</h4>
        <!-- This part would be controlled by the UI Controller.-->
        <div class="md-form" id="locations-form">
        </div>
      </div>
    </div>
    <div class="step-actions">
      <!-- <button class="waves-effect waves-dark btn btn-sm btn-primary next-step" data-feedback="someFunction">CONTINUE</button> -->
      <input type="button" class="waves-effect waves-dark btn btn-sm btn-primary" onclick="frmctrl.s1validate()" value="CONTINUE">
      <input type="button" class="waves-effect waves-dark btn btn-sm btn-info" onclick="frmctrl.reservefornow()" value="RESERVE FOR NOW">
      <input type="button" class="waves-effect waves-dark btn btn-sm btn-secondary" onclick="eatctrl.eatnow()" value="EAT NOW">
      <input type="button" class="waves-effect waves-dark btn btn-sm btn-secondary" id="s1-skiptos5" onclick="frmctrl.skips1tos5()" style="display: none" value="CONFIRM RESERVATIONS">
    </div>
    <div class="invalid-feedback" id="s1-invalidfeedback" style="display: none">
      This field is required.
    </div>
    <label id="locations-form-error" class="invalid" for="locations-form" style="display: none !important; opacity: 0;">This field is required.</label>
</div>