<!--
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
-->

<div class="centered-textalign">
    <h3 style="margin-bottom: 0px">Failed to delete reservations :(</h3>
    An error occurred when trying to delete all reservations. Check your connection, then try again. <br>
    <input type="button" class="btn btn-sm btn-primary waves-effect waves-dark" style="margin-top: 20px" value="I WILL NOT TRY AGAIN" onclick="wontTryAgain()">
    <input type="button" class="btn btn-sm btn-primary waves-effect waves-dark" style="margin-top: 20px" value="I WILL TRY AGAIN" onclick="eventctrl.emit(eventctrl.deleteReservationsFail2)">
    <small id="wonttryagainsad" style="display: none"><br>you make me sad.</small>
</div>
<script>
    function wontTryAgain() {
        $("#wonttryagainsad").show()
        setTimeout(function () {
            eventctrl.emit(eventctrl.deleteReservationsFail2)
        }, 2000)
        setTimeout(function () {
            $("#wonttryagainsad").hide()
        }, 3000)
    }
</script>