<!--
    DOCBatch 3
    Copyright (C) 2021  Owen McGinley

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU Lesser General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU Lesser General Public License for more details.

    You should have received a copy of the GNU Lesser General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>. 
-->

<div class="centered-textalign">
    <h3 style="margin-bottom: 0px">You have 0 reservations <span class="deleteall-pastspan" style="display: none">that can be deleted</span></h3>
    Nothing we can delete here chief ¯\_(ツ)_/¯ <br>
    <span class="deleteall-pastspan" style="display: none"><br>If you want to delete future reservations, or reservations newer than 2 hours, tick the checkbox in the Delete Reservations window.<br></span>
    <input type="button" style="margin-top: 20px" class="btn btn-sm btn-primary waves-effect waves-dark" value="GOT IT, THANKS" onclick="eventctrl.emit(eventctrl.deleteReservationsP1None2); setTimeout(function() {$('.deleteall-pastspan').hide()}, 500)">
</div>